<div class="header">
	<a href="">home</a>
	<a href="">login</a>
	<a href="">signup</a>
	<a href="">cart</a>
	<a href="">orders</a>
	<a href="">profile</a>
	<a href="">checkout</a>
	<a href="">logout</a>
</div>
<div class="main">
	<div class="left">
		<p>men <span>11</span></p>
	</div>
	<div class="right">
		<div class="filters">
			<button> <i class="fa fa-sort"></i> id</button>
			<button> <i class="fa fa-sort"></i> old</button>
			<button> <i class="fa fa-sort"></i> new</button>
			<button> <i class="fa fa-sort"></i> rating</button>
			<button> <i class="fa fa-sort"></i> discount</button>
			<input placeholder="search...">
		</div>
		<div class="products">
			<div class="item">
				<img src="img/a (1).jpg" alt="">
				<div>title</div>
				<div>old price</div>
				<div>new price</div>
				<div class="discount">discount % off</div>
				<div>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
				<div class="tags">tags</div>
				<div class="cart-btn"><i class="fa fa-shopping-cart"></i></div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	angular ecommerce
</div>